[build]
  command = "npm run build -- --configuration production"
  publish = "dist/mocolResume/browser"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
