/*@media all and (min-width:768px)*/
.header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1090;
}

.header-section {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); 
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}


header {
    min-height: 64px;
    background-color: #1976d2;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
}

ul {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    list-style-position: inside;    
}

ul > li {
    list-style-type: none;
}

a {
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue", "Helvetica,Arial", "Lucida Grande", "sans-serif";
}

h1 {
    margin-bottom: 0;
    font-weight: 200;
}
