<Section class="header-section" title="Header">
  <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300&amp;display=swap');
  </style>
  <style>
      @import url('https://fonts.googleapis.com/icon?family=Material+Icons&amp;display=block');
  </style> 
  <header>
    <nav>
      <a mat-button [routerLink]="['/']">
          <h1>Andrew Mocol</h1>
      </a>  
      <a mat-button [routerLink]="['/resume']">Resume</a>
      <a mat-button [routerLink]="['/open-source']">Open Source</a>
    </nav>
    <div class="flex-spacer"></div>
    <div class="header-right">
      <a mat-button class="githubLink" href="https://github.com/mocolicious/mocolResume"><fa-icon mat-ripple [icon]="faGithub" size="2x"></fa-icon></a>
    </div>
  </header>
</Section>