<section title="Open Source">
    <header>
        <h2>Open Source Projects</h2>
        <h4>Some of the projects I was the creator or a large contributor on.</h4>
    </header>
    <article>
        <header>
            <h3>MocolResume</h3>
        </header>
        <p>My person resume made with Angular, NgRx, Redux, and Apollo.</p>
    </article>
    <article>
        <header>
            <h3>MocolResume</h3>
        </header>
        <p>My person resume made with Angular, NgRx, Redux, and Apollo.</p>
    </article>
</section>

