<section>
    <p style="text-align: center; margin-top: 10px;"><a href="mailto:Andrewmocol@hotmail.com">Andrewmocol&#64;hotmail.com</a> | 952-217-7482 | <a href="linkedin.com/in/andrew-mocol-1252a912b/">linkedin.com/in/andrew-mocol-1252a912b/</a> | <a href="github.com/mocolicious">github.com/mocolicious</a> </p>
</section>
<section style="margin-left: 10px; margin-right: 10px;">
    <h4>Professional Summary</h4>
    <p>Highly experienced Principal Software Engineer with over 15 years of leadership and technical expertise. Proven success in designing and implementing complex solutions for web and mobile applications. Expertise in full stack development, architecture design, database design, optimization and management, blockchain tech and decentralized governance. Extensive contributions to open source projects and a track record of innovation.  Able to quickly learn and utilize new languages.</p>
</section>
<section>
<mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
        <article>
            <h2>Skills</h2>
        </article>
        <article>
        </article>
    </mat-grid-tile>
    <mat-grid-tile>
        <article>
            <h2>Work Experience</h2>
        </article>
    </mat-grid-tile>
</mat-grid-list>
</section>