<div class="m-4">
    <section>
        <p class="text-center mt-2.5"><a href="mailto:Andrewmocol@hotmail.com">Andrewmocol&#64;hotmail.com</a> | 952-217-7482 | <a href="https://linkedin.com/in/andrew-mocol-1252a912b/">linkedin.com/in/andrew-mocol-1252a912b/</a> | <a href="https://github.com/mocolicious">github.com/mocolicious</a> </p>
    </section>
    <section class="mx-2.5">
        <h4>Professional Summary</h4>
        <p>Highly experienced Principal Software Engineer with over 15 years of leadership and technical expertise. Proven success in designing and implementing complex solutions for web and mobile applications. Expertise in full stack development, architecture design, database design, optimization and management, blockchain tech and decentralized governance. Extensive contributions to open source projects and a track record of innovation.  Able to quickly learn and utilize new languages.</p>
    </section>
    <section class="flex justify-between">
        <div class="flex-1 p-2.5">
            <article>
                <h2>Skills</h2>
                <ul>
                    <li>Agile Methodologies</li>
                    <li>Full Stack Development</li>
                    <li>Architecture Design</li>
                    <li>Database Design & Management</li>
                    <li>Decentralized Governance</li>
                    <li>Blockchain Technology</li>
                </ul>
            </article>
            <article>
                <h2>Languagues / Frameworks</h2>
                <ul>
                    <li>JavaScript</li>
                    <li>.NET</li>
                    <li>Angular</li>
                    <li>SQL (T-SQL, SQL Server, Entity Framework)</li>
                    <li>Rust/Anchor</li>
                    <li>Solidity</li>
                    <li>MongoDB</li>
                    <li>PostgreSQL</li>
                    <li>Oracle</li>
                    <li>Redis</li>
                    <li>Azure Functions</li>
                </ul>
            </article>
            <article>
                <h2>Leadership and Team managment</h2>
                <ul>
                    <li>Over 15 years of leadership experience</li>
                    <li>Adept in leading and guiding technical teams</li>
                    <li>Strong decision-making skills in high-pressure environments</li>
                    <li>Extensive experience in mentoring and training</li>
                </ul>
            </article>
            <article>
                <h2>Publications and Speaking Engagements</h2>
                <ul>
                    <li>Guest on "The Kin Show" podcast</li>
                    <li>Essay in Proceedings magazine</li>
                    <li>Open source governance documents and on-chain solutions</li>
                </ul>
            </article>
            <article>
                <h2>Certifications</h2>
                <ul>
                    <li>Microsoft Certified Solutions Developer (MCSD)</li>
                    <li>Microsoft Certified Systems Administrator (MCSA) in Windows Messaging</li>
                    <li>CompTIA Network+ (Net+)</li>
                    <li>CompTIA Security+ (Security+)</li>
                </ul>
            </article>
            <article>
                <h2>Professional Memberships</h2>
                <ul>
                    <li>Member of the Neiux Society (New Orleans Blockchain group)</li>
                    <li>Member of the Project Management Institute (PMI) since 2017</li>
                </ul>
            </article>
        </div>
        <div class="flex-1 p-2.5">
            <article>
                <h2>Work Experience</h2>
                <section>
                    <h3>Principal Software Engineer at Active Accreditation</h3>
                    <ul>
                        <li>Led all development efforts, overseeing the design and implementation of a multitenant SAAS platform.</li>
                        <li>Designed a robust file import process, optimizing file storage and retrieval using Azure Functions.</li>
                        <li>Utilized .NET for the backend API and Angular for the frontend, ensuring seamless user experiences.</li>
                        <li>Proficient in T-SQL, SQL Server, and Entity Framework for high-performance database solutions.</li>
                        <li>Extensive experience in various database engines, including MongoDB, PostgreSQL, Oracle, and Redis.</li>
                    </ul>
                </section>
                <section>
                    <h3>CTO and Founder at Kinny Technologies</h3>
                    <ul>
                        <li>Pioneered innovative web3 solutions, including a cryptocurrency-based app for in-game activities and a crypto wallet app.</li>
                        <li>Developed a blockchain block explorer, an SDK for Flutter developers, and contributed to open source projects.</li>
                        <li>Managed and maintained infrastructure on Azure, serving a user base of approximately 1 million.</li>
                    </ul>
                </section>
                <section>
                    <h3>Co-Founder at Trackin Network Ltd.</h3>
                    <ul>
                        <li>Developed a web front end in React for a Fortnite Play to earn app we designed.</li>
                        <li>Was one of the first play to earn crypto apps.</li>
                        <li>Led 2 other developers in developing the other components which included a backend API and bot account to link their Epic API account.</li>
                    </ul>
                </section>
                <section>
                    <h3>Senior Software Engineer at H2PC</h3>
                    <ul>
                        <li>Led development of the Marine Corps reserve’s T3 system, a mission-critical system which is their primary mechanism to request travel, shipment, and exercise funds.</li>
                        <li>Successfully implemented an Agile process leading the Marine Corps Reserve organization in embracing this methodology.</li>
                        <li>Engaged extensively with stakeholders, sat in exercise planning meetings to gather thoughts, and engineered solutions to solve problems in their business process.</li>
                        <li>Architected, designed, and imagined integrations to the order writing system and additional use cases for the accounting system integrations to provide more reliable data and system of controls.</li>
                    </ul>
                </section>
                <section>
                    <h3>Web Server and SharePoint Administrator at H2PC</h3>
                    <ul>
                        <li>Led system administration efforts for web servers, managing configurations, deployments, and applications.</li>
                        <li>Served as the Force SharePoint Administrator for Marine Forces Reserve, overseeing a multi-tiered SharePoint farm.</li>
                        <li>Administered SharePoint patches, managed content, and created custom solutions for specific business needs.</li>
                    </ul>
                </section>
                <section>
                    <h3>Web Developer at FurnitureDealer.net</h3>
                    <ul>
                        <li>Served as lead developer on www.athomefurniture.net.</li>
                        <li>Redesigned www.furniture-fair.net.</li>
                        <li>Made many small changes to websites at the request of clients.</li>
                        <li>Did many SEO-focused improvements to target a better search ranking and increase business to clients.</li>
                    </ul>
                </section>
                <section>
                    <h3>Data Chief and Network Administrator, U.S. Marine Corps</h3>
                    <ul>
                        <li>Implemented network architecture supporting over 200 users across multiple networks.</li>
                        <li>Developed a SharePoint-based trouble-ticket system, enhancing operational efficiency and user support.</li>
                        <li>Led the establishment and management of data services for high-profile exercises including Cobra Gold, LF Carat, Ulchi Freedom Guardian, and others, servicing multiple combat operations centers.</li>
                        <li>Directed server builds and network security for significant military exercises, training 47 personnel in network implementation and security practices.</li>
                        <li>Exhibited advanced leadership skills, successfully managing and guiding large teams in high-pressure environments.</li>
                    </ul>
                </section>
            </article>
        </div>
    </section>
</div>